<div class="jumbotron center">
	<h1>Welcome to my home</h1>
	<p>
		<%= link_to "Log in", "#", class: "btn btn-primary btn-large"%>
		<%= link_to "Sign up", "#", class: "btn btn-success btn-large"%>
	</p>
</div>